<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.testscript.TC1_PostRequest"/>
      <class name="org.testing.testscript.TC2_GetAllMethod"/>
      <class name="org.testing.testscript.TC3_GetParticular"/>
      <class name="org.testing.testscript.TC4_UpdateRequest"/>
      <class name="org.testing.testscript.TC5_DeleteRequest"/>
      <class name="org.testing.testscript.TC6_GetAllMethod_Real"/>
      <class name="org.testing.testscript.TC7_PostRequest_Real"/>
      <class name="org.testing.testscript.TC8_GetParticular_Real"/>
      <class name="org.testing.testscript.TC9_UpdateRequest_Real"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
